#rss1 {
    padding: 30px;
    background: #6e6e6e;
}

#rss2 {
    padding: 30px;
    background: #4acb51;
}

footer {
    color: #f2f2f2;
    background: #373a3c;
    line-height: 80px;
    height: 80px;
}

footer p {
    margin: 0;
}

#addButton {
    margin-top: 32px;
}